<article class="blogPost">
	<header>
		<h2><%=link_to post.title, post %></h2>
		<p>
			<time datetime="<%= convert_rails_date_to_html_date(post.created_at) %>">
				<%= format_date(post.created_at) %>
			</time>
			&middot; 
			<%= post.user.name %><br/>
		</p>
	</header>
	<p>
		<%= post.content.strip %>
	</p>
</article>