<% @page_title = "Blog" %>

<% @posts.reverse.each do |post| %>
<article class="blogPost">
	<header>
		<h2><%=link_to post.title, post %></h2>
		<p>
			<time datetime="<%= convert_rails_date_to_html_date(post.created_at) %>">
				<%= format_date(post.created_at) %>
			</time>
			przez 
			<%= link_to post.author.name, Post.find_all_by_id(post.author_id) %><br/>
			<%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
		</p>
	</header>
	<p>
		<%= post.content.strip %>
	</p>
</article>
<% end %>
<br />
<%= link_to 'New Post', new_post_path %> 